.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: inherit;
      padding: 0 20px;
  
      &-logo {
        color: var(--yellow-theme-main-color);
        cursor: pointer;
  
        img {
          height: 70px;
          width: 70px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
  
      &-menu {
        display: flex;
        list-style: none;
        text-align: center;
  
        &-item {
          line-height: 40px;
          margin-right: 1.5rem;
          font-size: 1.8rem;
  
          &::after {
            content: "";
            display: block;
            height: 3px;
            width: 0;
            background: transparent;
            transition: all 0.5s ease;
          }
  
          &:hover::after {
            width: 100%;
            background: var(--yellow-theme-main-color);
          }
  
          &-links {
            color: var(--yellow-theme-main-color);
            text-decoration: none;
            padding: 0.5rem;
            white-space: nowrap;
          }
        }
      }
    }
  }
  
  .nav-icon {
    display: none;
    color: var(--yellow-theme-main-color);
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .navbar-container-menu {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 80px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 80px);
      background-color: #181818;
      transition: left 0.3s ease-in-out;
      z-index: 998;
  
      &.active {
        left: 0;
      }
  
      &-item {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #282828;
        text-align: center;
      }
  
      &-item-links {
        display: block;
        width: 100%;
      }
    }
  
    .nav-icon {
      display: block;
    }
  }
  